<!--to convert go here :
http://www.accessify.com/tools-and-wizards/developer-tools/html-javascript-convertor/
-->
<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>

<div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <b>HPI Encoder ver {{version}}</b>
        </div>
    </div>
    <div class="row clearfix" ng-hide="isInputFieldsAreValid">
        <div class="col-md-12 column">
            WARNING : the input fields were change since the last update. Pls contact Mike to fix this. You know
            where you can find me.
        </div>
    </div>
    <div class="row clearfix" ng-show="isInputFieldsAreValid">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Step 1 : Input the CSV to parse
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="csvText">Paste CSV content here</label>
                            <textarea class="form-control" id="csvText" ng-model="csvContent"></textarea>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" class="btn btn-primary" ng-click="Parse()">Parse</button>
                            <button type="submit" class="btn btn-default" ng-click="csvContent=''">Clear</button>
                        </div>
                        <span ng-show="parseMessage!=''" class="text-danger">{{parseMessage}}</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix" ng-show="isInputFieldsAreValid">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Step 2 : User Dasboard
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="submit" class="btn btn-primary" ng-click="Download()" ng-disabled="!isDone">Download All
                        </button>
                        <button type="submit" class="btn btn-danger" ng-click="Stop()">Stop
                        </button>
                        <button type="button" class="btn btn btn-default" ng-csv="getArrayForCsv()" filename="dashboard.csv"
                                csv-header="['Username', 'TotalQB', 'Rebates', 'TotalProductVoucher','ActiveAccnt','NewEntry','ReadyRorEncashment','EncashmentHistory']">Export
                        </button>
                        <input type="checkbox" ng-change="selectAllFn(selectAll)"
                               ng-checked="isSelectedAll()" ng-model="selectAll"/> Skip?
                    </div>
                    <ul>
                        <li ng-repeat="user in users">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">No</label>
                                    <div class="col-sm-10">
                                        <label>{{user.Index}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">User Name</label>
                                    <div class="col-sm-10">
                                        <input type="input" ng-model="user.UserName"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="input" ng-model="user.Password"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Total QB</label>
                                    <div class="col-sm-10">
                                        <label>{{user.TotalQB}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Total Rebates</label>
                                    <div class="col-sm-10">
                                        <label>{{user.TotalRebates}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Total Product Voucher</label>
                                    <div class="col-sm-10">
                                        <label>{{user.TotalProductVoucher}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Active Accounts</label>
                                    <div class="col-sm-10">
                                        <label>{{user.ActiveAccnt}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">NewEntry Code</label>
                                    <div class="col-sm-10">
                                        <label>{{user.NewEntry}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Ready Ror Encashment</label>
                                    <div class="col-sm-10" ng-class="{info: user.HasBlue}">
                                        <label>{{user.ReadyRorEncashment}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Encashment History</label>
                                    <div class="col-sm-10">
                                        <label>{{user.EncashmentHistory}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10" ng-class="{danger: user.IsError, success: user.IsSuccess}">
                                        <label>{{user.Status}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="checkbox" ng-model="user.WasDownloaded"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button ng-click="LoginToDownloadOneItem(user)" ng-disabled="!isDone" class="btn btn-default">
                                            {{user.DownloadBtn}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="submit" class="btn btn-primary" ng-click="Download()" ng-disabled="!isDone">Download All
                        </button>
                        <button type="submit" class="btn btn-danger" ng-click="Stop()">Stop
                        </button>
                        <button type="button" class="btn btn btn-default" ng-csv="getArrayForCsv()" filename="dashboard.csv"
                                csv-header="['Username', 'TotalQB', 'Rebates', 'TotalProductVoucher','ActiveAccnt','NewEntry','ReadyRorEncashment','EncashmentHistory']">Export
                        </button>
                        <input type="checkbox" ng-change="selectAllFn(selectAll)"
                               ng-checked="isSelectedAll()" ng-model="selectAll"/> Skip?
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix" ng-show="isInputFieldsAreValid">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Logs
                    </h3>
                </div>
                <div class="panel-body">
                    <table>
                        <tr ng-repeat="log in logs.slice().reverse() track by $index">
                            <th>
                                {{log}}
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
